<br>
<br>
<br>
<h2 class="movies-index-header"> All The Movies</h2>
<div id="all-movies">
<% @movies.each do |movie|%>
    <p class= "movie_index_container"><a href="<%= movie_path(movie)%>">
    <%= image_tag(movie.photo, :height => "300px") %></a><br>
    <b class= "movie_text_cont"> 
    <i class="movie_index_text">
    Title: <%= link_to movie.title, movie_path(movie) %>
    <br>
    Genre: <%= movie.genre %>
    </i></b></p>
<%end%>
</div>


