<div id="movie-profile">
<div class="movie-page-photo">
<%= image_tag(@movie.photo, :height => "500px") %><br>
</div>

<div class="movie-info">
<h1> <%=@movie.title %></h1>
<br>
<h3> Genre: <%=@movie.genre %></h3>
<br>
<h5>Famous Line: <em>"<%= @movie.quote %>"</em></h5>
</div>
</div>

