<br>
<br>
<br>
<h2 class= "user-index-title">All the People</h2>
<br>
<br>
<div id="all-users">
<% @users.each do |user| %>
    <p class= "user_index_container"> <a href="<%= user_path(user)%>">
    <img src= <%= user.photo %> ></a>
    <b class= "user_text_cont">
    <i class="user_index_text">
    <a <%= link_to user.name, user_path(user) %>  </a>
    <br>  
    City:<%= user.city.name %></i></b></p><br> 
 <% end %>
 </div>

