// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#all-movies {
    margin-left: 7%;
    margin-right: 7%;
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(50%);
}

.movie_index_container {
    position: relative;
    width: 100%;
}

.movie_text_cont {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e6e6d8;
}

.movies-index-header {
    font-family: "Oswald", Sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
    margin: auto;
    width: 30%;
    margin-bottom: 3%;
}

.movie_index_container img {
    height: 300px;
    width: 250px;
    border-radius: 3%;
}

.movie-page-photo {
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 15%;
    filter: grayscale(50%);
    background-color: #bac2be;
}

.movie-info {
    float: left;
    padding-left: 5%;
    padding-top: 20%;
    padding-bottom: 5%;
    width: 700px;
}

.movie_index_text {
    color: #c6a39a;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#popcorn {
    padding-left: 1000px;
    position: absolute;
}