/* all user/ all movies path */

.navheader {
    text-transform: uppercase;
    padding: 8px;
    border: 2px solid #494949 !important;
    border-radius: 2px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    opacity: 0.9;
    font-size: 15px;
    color: white;
    font-family: Courier;
    
}


/*subtitle:"Click with your favorite flick." */

.sub {
    color: white;
    text-align: center;
}


/* login form/ title */

#login-box {
    text-align: center !important;
    width: 30%;
    height: 20%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    color: rgba(166, 186, 199, 0.74);
    font-family: courier;
    
}

#inner-login-box {
    padding: 20px;
    background: rgb(238, 238, 230);
    margin-top: 10%; 
    opacity: 75%;
    border-radius: 10%;
}


/* create new user and sign in btn hover */

.navheader:hover {
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.textfield {
    border: 2px solid #494949 !important;
    opacity: 0.5;
    border-radius: 2px;
}


/* create new user and sign in btn */

.loginbtn {
    text-transform: uppercase;
    padding: 5px;
    border: 2px solid #494949 !important;
    border-radius: 2px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    opacity: 0.5;
    font-size: 10px;
}

.loginbtn:hover {
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}


/* video */

#myVideo {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
}

.home-video-wrapper {
    height: 100%;
    width: 100%;
}

